.task-container {
  background-color: #111;
  margin: 8px 0;
  padding: 0px 20px;
  display: flex;
  border: solid 1px lime;
  justify-content: space-between;
  color: #eee;
  align-items: center;
}

.task-title {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info-button {
  background-color: transparent;
  color: lime;
  font-size: 18px;
  border: none;
  display: grid;
  place-items: center;
  padding: 5px;
  cursor: pointer;
  transition: 300ms;
}

.task-info-button:hover {
  background-color: lime;
  color: black;
}

.remove-task-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 3px;
  color: lime;
  font-size: 18px;
  transition: ease 300ms;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.remove-task-button:hover {
  background-color: lime;
  color: black;
}